@CHARSET "ISO-8859-1";

body {
	padding: 0.25em;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 90%;
}

.ui-toolbar {
	border: 0;
	line-height: 2em;
}

.ui-selection-column {
	width: 1.3em;
}

.ui-inputfield {
	width: 96%;
}

.ui-panelgrid .ui-widget-content .ui-panelgrid-cell {
	border-width: 0;
	padding: 10px 10px;
}

.ui-panelgrid .ui-widget-content {
	border-width: 0;
}

#formCadastro .ui-panelgrid {
	width: 100%;
}

.botaoForm {
	margin: 0.25em;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: center !important;
}

.ui-panelgrid .ui-panelgrid-footer {
	text-align: right !important;
}

.ui-panelgrid-footer .ui-widget-header {
	border: 0;
}

.ui-dialog .ui-dialog-content {
	padding: 0 !important;
}

.ui-confirm-dialog .ui-dialog-content {
	padding: .5em 1em !important;
}

.columnId {
	width: 6.5em !important;
}

.filterId {
	width: 6em !important;
}

.ui-button-text {
	font-size: 120%;
}

.ui-column-customfilter .ui-button-text {
	line-height: 1.24em !important;
	font-size: 110%;
}

.ui-column-customfilter .ui-selectcheckboxmenu-label-container {
	line-height: 1.5em !important;
}

.ui-layout-west .ui-menu {
	width: 95% !important;
}

.ui-layout-center .ui-layout-unit-content {
	padding: 0 !important;
}

.ui-layout-west .ui-menuitem-text {
	font-size: 120%;
}

.selectInternoExterno {
	margin-right: 1em;
}

.noPadding {
	padding: 0 !important;
}

.panelGridLabel {
	font-weight: bold;
	width: 0;
}

.brasaoCentro {
	left: 50%;
	margin: -219px;
	position: absolute;
	top: 50%;
}

.tituloSistema {
	font-size: 250% !important;
	font-weight: bold !important;
	padding-left: .25em;
}